SqlDataMapper/Schemas/configuration.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" name="provider">
					<xs:complexType>
						<xs:attribute name="file" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="1" maxOccurs="1" name="connection">
					<xs:complexType>
						<xs:attribute name="provider" type="xs:string" use="required" />
						<xs:attribute name="connectionString" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="1" maxOccurs="1" name="statements">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="include">
								<xs:complexType>
									<xs:attribute name="file" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>