SqlDataMapper/Schemas/provider.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="providers">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="provider">
					<xs:complexType>
						<xs:attribute name="id" type="xs:string" use="required" />
						<xs:attribute name="assemblyName" type="xs:string" use="required" />
						<xs:attribute name="connectionClass" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>