SqlDataMapper/configuration.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sqlMapConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="providers">
          <xs:complexType>
            <xs:attribute name="file" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="database">
          <xs:complexType>
            <xs:attribute name="provider" type="xs:string" use="required" />
            <xs:attribute name="connectionString" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="sqlMaps">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="sqlMap">
                <xs:complexType>
                  <xs:attribute name="file" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>